version: "3.7"

services:

  web:
    image: nginx:1.17
    ports:
      - 80:80
    volumes:
      - /var/www/docker-study.loc/article-03/php:/var/www/myapp
      - /var/www/docker-study.loc/article-03/docker/site.conf:/etc/nginx/conf.d/site.conf

  php:
    image: php:7.2-fpm
    volumes:
      - /var/www/docker-study.loc/article-03/php:/var/www/myapp
      - /var/www/docker-study.loc/article-03/docker/php.ini:/usr/local/etc/php/php.ini
